[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

importlib-metadata == "1.7.0"

[packages]
gunicorn = "20.0.4"
requests = "2.25.0"
html2text = "2020.1.16"
Flask = "1.1.2"
IMAPClient = "2.1.0"
python-dotenv = "0.15.0"
tqdm = "*"
pudb = "*"
editdistance = "*"
simstring-pure = "*"
diff-match-patch = "*"
requests-futures = "*"
jupyter = "*"

[dev-packages]
ipykernel = "*"
pudb = "*"
tqdm = "*"

[requires]
python_version = "3.7"
