[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "20.0.4"
requests = "2.25.0"
html2text = "2020.1.16"
Flask = "1.1.2"
IMAPClient = "2.1.0"
python-dotenv = "0.15.0"
tqdm = "*"

[dev-packages]
ipykernel = "*"
pudb = "*"

[requires]
python_version = "3.7"
